.jobs-container {
    max-width: 900px;
    margin: 0px auto;
    padding: 40px;
    font-family: Arial, sans-serif;
  }
  .title{
    text-align: center;
  }
  h1 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .filters input,
  .filters select {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .jobs-list {
    display: grid;
    gap: 15px;
  }
  
  .job-card {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 12px;
    background: #f9f9f9;
  }
  
  .job-card h2 {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  
  .job-card a {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .job-card a:hover {
    background: #0056b3;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
  }
  
  .pagination button,
  .pagination select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .crawl-section {
    display:flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .crawl-btn {
    padding: 4px 8px;
    background: #28a745;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .crawl-btn:hover {
    background: #218838;
  }
  

  .job-count {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: #333;
  }
  